{ pkgs ? import <nixpkgs> {}} :
let
  gems = pkgs.callPackage ./default.nix {pkgs = pkgs;};
in
pkgs.mkShell {
  buildInputs = with pkgs; (gems.buildInputs ++ [
    bundix
    mailcatcher
    nixops
    yarn
    nodejs-10_x
    gems.wrappedRuby
  ]);
}
