module ApplicationHelper
  def flash_message(message, type: 'secondary')
    return nil if message.blank?

    tag.div(
      class: ['alert', "alert-#{type}"].join(' '),
      'data-controller': 'alert',
      'data-target': 'alert',
      role: 'alert'
    ) do
      message
    end
  end
end
