// An "actions" button row

nav.actions {
  a, button {
    @include button;
  }
  margin-top: $gutter;
  margin-bottom: $gutter / 2;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    margin-bottom: $gutter / 2;
    &:not(:last-child) {
      margin-right: $gutter / 2;
    }
  }

  @media print {
    display: none;
  }
}
