$text-like-inputs: "
	input[type=text],
	input[type=number],
	input[type=email],
	input[type=password],
	textarea,
";

$buttons-like-inputs: "
	input[type=button],
	input[type=submit],
	button,
";

$checkbox-like-inputs: "
	input[type=checkbox],
	input[type=radio],
";

#{$buttons-like-inputs} {
	@include button;
	font-size: inherit;
	font-family: inherit;
	&[name=commit] {
		@include button-type(primary);
	}
}

// Doesn't work well with the way dumb html form are made.
// (Not their failing) all buttons that want to do an action
// can realistically a "submit" type button.
// input[type=submit],
// button[type=submit] {
// 	@include button-type(primary);
// }

#{$text-like-inputs} {
	@include form-control;
	font-size: inherit;
	font-family: inherit;
}
select {
	@include form-control;
	@include custom-select;
	font-size: inherit;
	font-family: inherit;
}

label {
	@include form-label;
}

// Compatibility with rails' scaffolds

form {
	.field {
		#{$text-like-inputs}, select:last-of-type:first-of-type {
			display: block;
			width: 100%;
			max-width: map-get($breakpoints, "md") * 0.75;
		}
		.field_with_errors + br,
		label + br {
			display: none;
		}
	}
	// Checkboxes
	.field {
		#{$checkbox-like-inputs} {
			&:not(:last-child) {
				float: left;
				margin-top: $gutter * 0.6;
				margin-right: $gutter / 2;
			}
			& + label {
			}
		}
	}
}

#{$checkbox-like-inputs} {
	label > & {
		position: relative;
		top: 0.25em;
	}
}

.field_with_errors {
	label {
		color: $danger;
	}
	#{$text-like-inputs}
	select {
		border-color: $danger;
		&:focus {
			box-shadow: 0 0 0 $input-focus-width rgba($danger, .25);
		}
	}
}

#error_explanation {
  background: $white;
  border-radius: $border-radius;
  border: 1px solid $danger;
  margin: 0;
  margin-bottom: $gutter;
  padding: $gutter;
  border-left: 0.5rem solid $danger;

  h2 {
    font-weight: bold;
    font-size: 1.1rem;
  }

  ul {
    margin: 0;
  }
}
