// Adds the Brand logo where relevant.

body > header h1 {
	$_width: 1320 / 956 * $nav-height;
	background: $color-brand;
	text-indent: -999px;
	background-image: image-url("assets/Logo-brand.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: $nav-height;
	margin: 0;
	@include responsive-max(sm) {
		background-position: left center;
	}
	@include responsive-min(md) {
		float: left;
		width: $_width;
		min-width: $_width;
	}
}
