// It is assumed that only "responsive" tables are desired.
table {
  width: 100%;
  margin-bottom: $gutter;

  @media print {
    border: 1px solid $body-color;
  }

  tr {
	  &:hover, &:focus {
		  background: $gray-300;
	  }
  }

  td, th {
    padding: $gutter * 0.75;

	// Makes link-only cell all-clickable
	& > a:first-child:last-child {
		display: block;
		margin: -$gutter * 0.75;
		padding: $gutter * 0.75;
	}
  }

  th {
    @media screen {
      color: $body-bg;
      background-color: $body-color;
    }
  }
  @media print {
    th {
      font-weight: bold;
    }
    thead th {
      border-bottom: 2px solid $body-color;
    }
  }

  td {
    border: 0;
  }
  tbody:not(:last-child) td,
  tbody tr:not(:last-child) td {
    border-bottom: 1px solid $gray-300;
  }

  thead th {
    text-align: left;
  }
}

table.multirow-grouped {
	tbody:nth-child(2n + 1) {
		background: $gray-200;
		td {
			border-bottom-color: $gray-400;
		}
	}
	tbody:not(:last-child) tr:last-child td {
		border-bottom-color: $gray-600;
	}
}

table.datatable {
	th.datatable__actions {
		text-align: center;
	}
	td.datatable__action {
		padding-right: 0;
	}
	th.datatable__actions,
	td.datatable__action {
    @media print {
      display: none;
    }
		// Actions columns are made as small as needed...
		// While ensuring words don't wrap.
		// All under the assumption they'll be made buttons
		// with pictograms in CSS.
		// (When doing so, please add a `title` attribute to the links)
		width: 0.1%;
		white-space: nowrap;

		a {
			@include button;
			margin-left: 0;
			margin-right: 0;
			min-width: $gutter * 2.5;
		}
		.action--delete,
		.action--exclude,
		.action--include,
    {
			@include button-type(danger);
		}
		.action--edit {
			@include button-type(primary);
		}
	}
  .datatable__action--delete a,
	.action--delete {
		@include fa-ize-replace("trash-alt");
	}
  .datatable__action--edit a,
	.action--edit {
		@include fa-ize-replace("edit");
	}
  .datatable__action--show a,
	.action--show {
		@include fa-ize-replace("eye");
	}
  .datatable__action--exclude a,
	.action--exclude {
		@include fa-ize-replace("sign-out-alt");
	}
  .datatable__action--include a,
	.action--include {
		@include fa-ize-replace("sign-in-alt");
	}

  .datatable__action.datatable__action--delete a,
  .datatable__action.datatable__action--exclude a,
  .datatable__action.datatable__action--include a,
  {
    @include button-type(danger);
  }
  .datatable__action.datatable__action--edit a,
  {
    @include button-type(primary);
  }

  .type--percent,
  .type--money,
  .type--number {
    text-align: right;
  }
}

.datatable-details.is-print-only {
  @media screen {
    display: none;
  }
}

.datatable-export {
  @media print {
    display: none;
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
    &:not(:last-child) {
      &::after {
        content: "|";
      }
    }
  }
}

table th .sort-link {
  $_icon-location: after;
  color: inherit;
  text-decoration: inherit;
  &::after {
    margin-left: 0.25em;
    @media print {
      display: none;
    }
  }
  @include fa-ize(sort, $_icon-location);
  &.is-asc {
    @include fa-ize(sort-up, $_icon-location);
  }
  &.is-desc {
    @include fa-ize(sort-down, $_icon-location);
  }
}

.invoice-table.invoice-table {
  $_border: 1px solid $gray-600;
  border-right: $_border;
  th {
    text-align: center;
  }
  tbody tr {
    td, th {
      border-bottom: $_border;
      border-left: $_border;
    }
    .invoice--time {
      text-align: right;
    }
    .invoice--office_type,
    .invoice--time_rate_type,
    .invoice--service {
      text-align: center;
      vertical-align: middle;
    }
  }
  tr {
    &:hover, &:focus {
      background: initial;
    }
  }
}
