/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito");
//@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// Configuration and framework bits
@import "variables";
@import "vendor/aal";
@import "responsive";
@import "bs-compat";
@import "mixins";
@import "layout";

// Components
@import "actions";
@import "alert";
@import "empty-list";
@import "filterable";
@import "forms";
@import "loading";
@import "navbar";
@import "pager";
@import "tables";
@import "turbolinks";
@import "page";

// Specializations
@import "debug";
@import "logo";

html, html > body {
  // Ensures the page fills the viewport
  height: 100%;
  // And respects the color chart
  @media screen {
    background-color: $body-bg;
    color: $body-color;
  }
  @media print {
    background-color: transparent;
    color: $black;
  }
}

* {
  // It's just plain dumb to do otherwise
  box-sizing: border-box;
}
