@import "variables";
@import "bs-compat";
@import "reset";
@import "responsive";
@import "functions";
@import "mixins";
@import "layout";
@import "turbolinks";

@import "page";
@import "navbar";
@import "alert";
@import "form";
@import "empty-list";
@import "pager";
@import "datagrid";
@import "debug";





html, html > body {
  // Ensures the page fills the viewport
  height: 100%;
  // And respects the color chart
  @media screen {
    background-color: $body-bg;
    color: $body-color;
  }
  @media print {
    background-color: transparent;
    color: $black;
  }
}

* {
  // It's just plain dumb to do otherwise
  box-sizing: border-box;
}
